#Contact {
    border-radius: 25px;
    padding-left: 25%;
    padding-top: 51px;
    padding-right: 25%;
    margin-left: auto;
    margin-right: auto;
}
h1, h3 {
    color: #cdd5d1;
}
#contact2 {
    border-radius: 10px;
    background-color:  #735a99;
    padding: 20px;
    margin-top: 50px;
}
#contactlinebrk {
    border-radius: 2px;
    border-bottom: 2px solid #cdd5d1;
    margin-bottom: 20px;
}
button {
    border-radius: 10px;
    margin-top: 10px;
}
textarea {
    font-family: 'OpenSans-Regular', Helvetica, sans-serif;
    border-radius: 3px;
    max-width: 95%;
    display: flex;
    flex-direction: column;

}