#containerbg {
    padding-top: 51px;
    height: 100%;
    width: 100%;
}

#containerdesign {
    border-radius: 25px;
    padding-left: 25%;
    padding-top: 51px;
    padding-right: 25%;
    margin-left: auto;
    margin-right: auto;
}
#containerdesign2 {
    border-radius: 10px;
    background-color:  #735a99;
    padding: 20px;
    overflow: auto;
    clear: both;
}
#linebrk {
    border-radius: 2px;
    border-bottom: 2px solid #cdd5d1;
    margin-bottom: 20px;
}
h1 {
    font-size: 2em;
    color: #cdd5d1;
}
.designFlexbox {
    display: flex;
    justify-content: space-between;
}
.designs {
    float: left;
    padding: 7px;
}
p {
    color: #cdd5d1;
    background-color: #e26c2f;
    padding: 5px;
    position: absolute;
    width: 190px;
    margin-top: 1.5%; 
    
}
.imagesd {
    width: 640px;
    height: 399px;
    border-radius: 5px;
    float: left;
}
@media screen and (max-width: 1350px) {
    #containerdesign {
        border-radius: 25px;
        padding-left: 10%;
        padding-top: 51px;
        padding-right: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .imagesd {
        width: 576px;
        height: 359px;
        border-radius: 5px;
        float: left;
    }
}
@media screen and (max-width: 900px) {
    #containerdesign {
        border-radius: 25px;
        padding-left: 10%;
        padding-top: 51px;
        padding-right: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .imagesd {
        width: 422px;
        height: 263px;
        border-radius: 5px;
        float: left;
    }
    p {
        padding: 3px;
    }
}
@media screen and (max-width: 650px) {
    #containerdesign {
        border-radius: 25px;
        padding-left: 5%;
        padding-top: 51px;
        padding-right: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .imagesd {
        width: 211px;
        height: 131px;
        border-radius: 5px;
        float: left;
    }
    p {
        padding: 1px;
    }
}